{{define "Index"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Loja - Produtos de Qualidade</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Bem-vindo à nossa loja online! Aqui você encontra produtos de qualidade com os melhores preços.">
		<meta name="keywords" content="loja, produtos, compras, ofertas, qualidade">
		<meta name="author" content="Equipe Loja Online">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<h1>Bem-vindo à nossa Loja!</h1>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Preço</th>
					<th>Quantidade</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Camiseta</td>
					<td>Bem bonita</td>
					<td>29</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Notebook</td>
					<td>Muito rápido</td>
					<td>1999</td>
					<td>2</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
{{end}}
